/*
    Mobile first
     _________
    | _______ |
    ||       ||
    ||       ||
    ||       ||
    ||       ||
    ||_______||
    |____O____|
*/

html {
    background: #373648;
}

body {
    background: #fff;
}

html, body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    text-transform: uppercase;
    margin-bottom: 3px;
}

p {
    margin: 0 0 1em 0;
}

a {
    color: #8085e8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #90ee7e;
}

.box-size {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}

.header {
    z-index: 999999;
    width: 100%;
    color: #eeeaea;
    font-size: 10px;
    position: fixed;
    top: 0;
}

.navigation {
    margin-top: 87px;
    height: 100%;
}

.body {
    margin-top: 87px;
    overflow-y: scroll;
    max-height: 100vh;
}

.footer {
    padding: 10px;
    width: 100%;
    background: #373648;
    color: #eeeaea;
    text-align: center;
    font-size: 10px;
}


/* Header styling */

.header .row {
    overflow: hidden;
}

.header a {
    color: #eeeaea;
    font-weight: 300;
}

.header .row a:hover {
    color: #90ee7e;
}

.header .row-1 {
    background: #47475C;
    height: 50px;
}

.header .row-1 .cell {
    vertical-align: middle;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

#sidebar-link a {
    width: 50px;
    height: 50px;
    left: 0;
    display: block;
    text-align: center;
    margin: 0;
}

#sidebar-link i {
    font-size: 30px;
    line-height: 50px;
}

#highcharts-logo a {
    display: inline-block;
    height: 50px;
    width: auto;
    margin: 0 -20px;
}

#highcharts-logo img {
    height: 150%;
    margin-top: -7px;
    width: auto;
}

#page-title {
    float: right;
}

#page-title h1 {
    color: #eeeaea;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    padding: 5px 15px 0 15px;
}

.header .row-2 {
    height: 37px;
    background: #373648;
}

.header .row-2 .menu {
    height: 37px;
    line-height: 37px;
    float: left;
    width: 33.33%;
}

.header .row-2 .menu a.dropdown-link {
    padding: 0 15px;
}

.header .row-2 .menu#product-selector {
    text-align: left;
}

.header .row-2 .menu#version-selector {
    text-align: center;
}

.header .row-2 .menu#prog-lang-selector {
    text-align: right;
}

.dropdown-link {
    font-size: 14px;
    display: inline-block;
}

.dropdown-link i {
    font-size: 0.8em;
    transition: all 0.1s ease;
    margin-left: 7px;
}

.dropdown-menu {
    position: absolute;
    z-index: 999999999;
    display: block;
    width: 33.33%;
}

.dropdown-menu ul {
    display: inline-block;
    margin: -1px 2px 2px -1px;
    padding: 5px 0;
    background: #373648;
    border: 1px solid rgba(0, 0, 0, .15);
    font-size: 14px;
    min-width: 100px;
    text-align: left;
}

.dropdown-menu li {
    list-style-type: none;
}

.dropdown-menu li a {
    padding: 10px 20px;
    display: block;
    line-height: 20px;
    color: #a09fb4;
}

.dropdown-menu li.current a {
    font-weight: bold;
    color: #eeeaea;
}

.dropdown-menu li.current a:hover {
    color: #90ee7e;
}

.dropdown-menu li.current a, .dropdown-menu li a:hover {
    color: #eeeaea;
}

.dropdown-menu li.group p {
    padding: 10px 20px;
    display: block;
    line-height: 20px;
    margin: 0;
}

.dropdown-menu ul.group-list {
    padding: 0;
}

.dropdown-menu ul.group-list li a {
    padding-left: 35px;
}

.menu[expanded="false"] .dropdown-menu {
    display: none;
}

.menu[expanded="true"] .dropdown-link i {
    transform: rotate(90deg);
}

#prog-lang-selector-list a.unavailable-prog-lang {
    text-decoration: line-through;
    cursor: default;
}


/* Sidebar styling */

.sidebar {
    position: absolute;
    display: block;
    top: 0;
    min-height: 100%;
    overflow-x: scroll;
    background: #fff;
    border-right: 1px solid silver;
    transition: left 0.2s ease;
    z-index: 99;
    width: 260px;
}

.sidebar[expanded="false"] {
    left: -261px;
}

.sidebar[expanded="true"] {
    left: 0;
}


/* Navigation styling */

.tree {
    padding-left: 15px;
}

.node {
    position: relative;
}

.node .title {
    margin-right: 5px;
}

.node .title i {
    position: absolute;
    left: -12px;
    top: 3px;
}

.children {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    padding-left: 15px;
}

.node.collapsed>.children {
    max-height: 0;
}

.node.collapsed>.bracket.end.second {
    display: none;
}

.node.expanded>.children {
    max-height: 1000px;
}

.node.expanded>.dots {
    display: none;
}

.node.expanded>.bracket.end.first {
    display: none;
}


/* Body */

.body h1 {
    font-weight: 100;
}

.body.loaded #splashText {
    display: none;
}


/* Option styling */

.option {
    padding: 30px;
    overflow-y: hidden;
    position: relative;
    border-top: 1px solid silver;
}

.option.current {
    background: #eefdec;
}

.option.deprecated * {
    color: silver !important;
}

.option.highlighted {
    background-color: #eefdec;
}

.option .title, .option .title a, .option .returnType {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

.option .title a {
    text-decoration: underline;
}

.option .title a.noChildren {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1em;
}

.option .default {
    display: none;
}

.option .since {
    float: right;
    font-size: 0.8em;
}

.option .description {
    color: #666;
}

.option .context {
    padding: 1em 0;
}

.description code {
    color: #666;
    font-weight: normal;
}


/*
		Scale up
		   /\
		  /  \
		 /    \
		/      \
	   /		\
*/


/*
==================================================
=== Fablets / Vertical tablets / Horizontal phones
==================================================
*/

@media screen and (min-width: 550px) {
    #page-title h1 {
        font-size: 20px;
    }
    #product-selector, #product-selector .dropdown-menu {
        width: 60%;
    }
    #version-selector, #version-selector .dropdown-menu, #prog-lang-selector, #prog-lang-selector .dropdown-menu {
        width: 20%;
    }
    #product-selector .dropdown-link {
        display: none;
    }
    #product-selector .dropdown-menu {
        display: block;
    }
    #product-selector .dropdown-menu ul {
        padding: 0;
        background: none;
        border: 0;
        margin: 0;
    }
    #product-selector .dropdown-menu ul li {
        display: inline-block;
    }
}
